@font-face 
  font-family: 'playfairdisplay'
  src: url(../fonts/playfairdisplay.ttf)
@font-face 
  font-family: 'playfairdisplayitalic'
  src: url(../fonts/playfairdisplayitalic.ttf)
@font-face 
  font-family: 'Poppins-Medium'
  src: url(../fonts/Poppins-Medium.ttf)
@mixin play_reg
  font-family: 'playfairdisplay', sans-serif
@mixin play_italic 
  font-family: 'playfairdisplayitalic', sans-serif
@mixin poppins 
  font-family: 'Poppins-Medium', sans-serif
.container 
  max-width: 1170px 
  margin: auto 
body 
  +play_reg
  font-size: 24px 